<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div align="left">
                @Html.ActionLink("MVC News", "Index", "Home")
            </div>
            <div align="right">@Html.Partial("LoginPart") </div> 
        </div>
    </header>
    @RenderBody()
</body>
</html>
